/* 页面底部边色 */
.regionTitle::after{
  background-color: #b60c1f;
}

/* 导航栏隐藏配置 */
.coursetheme-navbar-hidden .navbar {
  display: none !important;
}
.coursetheme-navbar-hidden {
  padding: 27px 0px 27px !important;
}
/* 头部导航栏颜色 */
#page-header {
  background-color: rgba(182, 12, 31, 0.5);
}
/* 按钮颜色 */
.btn-primary {
  background-color: #b60c1f;
}
/* 响应式按钮颜色 */
.navbar .btn-navbar{
  background-color: #b60c1f;
}
/* 日历的渐变色头部上半 */
.block_calendar_month .controls .calendar-controls {
  background: linear-gradient(90deg, #d14747 0%, #ec9b2a 100%) !important;
}
/* 日历的渐变色头部下半 */
.calendarmonth.calendartable thead {
  background: linear-gradient(90deg, #d14747 0%, #ec9b2a 100%) !important;
}
/* 日历选中日期背景颜色 */
.block_calendar_month table td.today span.day-number {
  background: #b60c1f;
}
/* 日历事件日期的背景颜色 */
.hasevent {
  background: rgba(182, 12, 31, 0.12) !important;
}
/* 日历事件日期的字体颜色 */
#page-mod-scorm-player .breadcrumb-button a, a, a.active, a:focus, a:visited{
  color: #b60c1f;
}
/* 刷新按钮的字体颜色 */
a.btn.btn-link {
  color: #b60c1f !important;
}
/* TODO 这里有设置 hover 样式 */
.format-onlinecourse
  .onlinecourse
  #coursecontentcollapse-1
  .title
  .title-right
  .refresh {
  border: 1px solid #b60c1f;
}
.format-onlinecourse
  .onlinecourse
  #coursecontentcollapse-1
  .title
  .title-right
  .refresh:hover {
  color: #b60c1f !important;
  /* background-color: rgba(182, 12, 31, 0.3)!important; */
}
.format-onlinecourse
  .onlinecourse
  #coursecontentcollapse-1
  .title
  .title-right
  .more {
  border: 1px solid #b60c1f;
}
.format-onlinecourse
  .onlinecourse
  #coursecontentcollapse-1
  .title
  .title-right
  .more:hover {
  color: #b60c1f !important;
  /* background-color: rgba(182, 12, 31, 0.3)!important; */
}
/* 侧边导航栏的按钮的颜色 */
#sidebar-btn {
  background-color: #b60C1F;
}
/* 侧边栏导航搜索按钮背景颜色 */
button.search-icon{
  background-color: #b60c1f;
}
/* 页面头部块区域 */
.courseview-header {
  background: rgba(224, 118, 35, 0.16);
}
/* 版块背景颜色 */
.person-course-same #block-region-side-post section.block h5.card-title {
  background-color: #f9e6d8 !important;
}
/* 添加版块点击块的背景,字体颜色更改*/
.person-course-same .block{
  background-color: #F9F4F0
}
.block.block_adminblock {
  background-color: #F9F4F0 !important;
  border: 1px dashed #b60c1f !important;
}
.block.block_adminblock h5.card-title {
  color: #B60C1F!important;
}


/*  添加活动 或者 主题 的点击块背景,边以及图标的样式 */
.btn.btn-link.activity-add {
  background-color: rgba(249, 230, 216, 1);
  border: 1px dashed #b60c1f;
  color: #b60c1f !important;
}
.btn.btn-link.activity-add .activity-add-text::before {
  color: #b60c1f;
}
#changenumsections .add-sections {
  color: #b60c1f;
  font-size: 1.08em;
  display: flex;
}
#changenumsections .add-sections::before {
  color: #b60c1f;
}
#changenumsections {
  border-top: 1px dashed #b60c1f;
}
.btn.btn-link.activity-add:hover {
  background-color: #a30b1c!important;
}


/* 按钮鼠标悬浮时的样式 */
.btn:hover,.btn-primary:focus{
  background-color: #a30b1c!important;
}

/* TODO 这里有处hover样式要在上面设置 */

/* 测试课程1隐藏标题文字 */
.course-2 .coursetheme-title{
  display: none;
}

/* 原来的网课线条样式 */
.unlist .meetinginfo{
  border-left: 2px solid #b60c1f;
}

/* 导航栏下拉菜单底部和选中的颜色 */
.navbar .dropdown-menu{
  border-bottom: 4px solid #b60c1f;
}

.navbar .dropdown-menu>li>a:hover {
  background-color: #b60c1f!important;
}

/* 返回顶部按钮背景颜色 */
.back-to-top{
  color:#b60c1f;
}

/* 网课版块颜色调整 */
.edit-btn, .edit-btn:hover, .edit-btn:active, .edit-btn:visited{
  color: #b60c1f!important;
    border: 1px solid #b60c1f!important;
}

.format-onlinecourse .onlinecourse #coursecontentcollapse-1 .meetings .activity .meeting .meeting-btn a.start {
  background: #b60c1f;
}

.format-onlinecourse .onlinecourse #coursecontentcollapse-1 .meetings .activity .meeting .meeting-btn a.edit {
  color: #b60c1f;
  border: 1px solid #b60c1f;
}

/* 自定义主题的标题和搜索输入框的样式调整 */

.coursetheme-title{
  font-size: 24px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 31px;
  letter-spacing: 1px;
  /* position: relative;
  top: 5px; */
  margin-left: 8px;
  white-space: nowrap;
}


a.logo{
  position:relative
}

.logo-header .logo img.coursethemelogo {
  /* width: 167px; */
  max-height: 90px;
  margin: .5625rem 0!important;
}

/* 侧边底部颜色调整 */
.person-course-same #block-region-side-post{
  background-color: #F9F4F0;
}

/*  自定义主题导航栏隐藏的时候对应的搜索输入框也要响应式的隐藏也要隐藏 */
@media (max-width: 767px){
  .coursetheme-navbar-hidden .login-header {
  display: none !important;
}
}

.format-flexsections_tag .nav .active:after{
  border-bottom-color: #b60c1f;
}

/* 课程管理相关样式更改 */

/* 按钮 */
button, .btn, .btn-default, input.form-submit, input[type="button"], 
input[type="submit"], input[type="reset"], input.form-submit, input#id_submitbutton, input#id_submitbutton2, 
.path-admin .buttons input[type="submit"], td.submit input, 
.submit.buttons input[name="cancel"], #notice .singlebutton+.singlebutton input{
  background-color: #b60c1f;
}


input[type="submit"]:hover,input#id_submitbutton:hover{
  background-color: #4b4142!important;
}

input[type="submit"]:focus,input#id_submitbutton:focus{
  background-color: #a30b1c!important;
}

/* input[type="button"]:hover,input[type="button"]:focus{
  background-color: #a30b1c!important;
} */
button:hover, button:focus, button:active, .btn:hover, .btn-default:hover, .btn-default:focus, .btn-default:active, 
.btn-default.active, .open .dropdown-toggle.btn-default, input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, 
input[type="reset"]:hover, button:focus, input.form-submit:focus, input[type="button"]:focus, input[type="submit"]:focus, 
input[type="reset"]:focus, button.active, input.form-submit.active, input.active[type="button"], input.active[type="submit"], 
input.active[type="reset"], button:active, input.form-submit:active, input[type="button"]:active, input[type="submit"]:active,
 input[type="reset"]:active, input.form-submit:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, 
 .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, input.form-submit:focus, input#id_submitbutton:focus,
  input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, td.submit input:focus, input.form-submit:active,
   input#id_submitbutton:active, input#id_submitbutton2:active, .path-admin .buttons input[type="submit"]:active, td.submit input:active,
    input.form-submit.active, input#id_submitbutton.active, input#id_submitbutton2.active, .path-admin .buttons input.active[type="submit"],
     td.submit input.active, input.form-submit.disabled, input#id_submitbutton.disabled, input#id_submitbutton2.disabled, 
     .path-admin .buttons input.disabled[type="submit"], td.submit input.disabled, input.form-submit[disabled], input#id_submitbutton[disabled], 
     input#id_submitbutton2[disabled], .path-admin .buttons input[type="submit"][disabled], td.submit input[disabled], #notice .singlebutton+.singlebutton input:hover{
      background-color: #a30b1c!important;
     }


/* 取消按钮 */
.btn-danger, #id_cancel.btn, .submit.buttons input[name="cancel"], #notice .singlebutton+.singlebutton input {
    background-color: #FFFFFF!important;
    box-sizing: border-box;
    border: 1px solid #b60c1f;
    color: #b60c1f;
}

#id_cancel.btn:focus,#id_cancel.btn:hover{
  background-color: #FFFFFF!important;
  color: #b60c1f!important;
} 

/* 设置按钮 */
.jsenabled .breadcrumb-button .moodle-actionmenu[data-enhance]{
  background-color: #b60c1f;
}

/* 其余按钮 */
.page-item.active .page-link{
  background-color: #b60c1f;
  border-color: #b60c1f;
}

.divider.line-01:after{
  background-color: #b60c1f;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus, .nav-tabs a.nav-link.active{
  background-color: #b60c1f;
}

.nav-tabs {
  border-bottom: 2px solid #b60c1f;
}

.activity-information .badge.alert-success{
  background-color: #b60c1f!important;
  border-color: #b60c1f;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active{
  background-color: #b60c1f!important;
}

.activity-information .btn.btn-outline-secondary:active, .activity-information .btn.btn-outline-secondary:hover, .activity-information .btn.btn-outline-success{
  background-color: #b60c1f!important;
  border: 1px solid #b60c1f;
}

/* 主题设置页面样式调整 */
#fgroup_id_setting .form-check-inline.form-check-label.fitem{
  margin-right: 60px;
}
#fgroup_id_navbar .form-check-inline.form-check-label.fitem{
  margin-right: 60px;
}
#fgroup_id_titleline .form-check-inline.form-check-label.fitem{
  margin-right: 60px;
}

input#id_title2::placeholder{
  color: #BBBBBB;
}

/* 页面导航栏头部自定义 logo 布局调整 */
button.language#dropdownMenu1{
  background-color: transparent;
}
/* 1 */
.logo-header .logo .flexBox{
  display: flex;
  align-items: center;
}
/* 2 上面的 .logo-header .logo img.coursethemelogo 有一条设置 margin 的 */
/* 3 去掉 span 自定义文字的 相对定位 */
/* 4 coursetheme-title 的 whitespace 设置为 nowrap */
/* 5 图片高度改成 90 px */
/* 6 文字响应式变化大小 */
/* 7 第二行文字样式更改 */
.coursetheme-title2{
  font-size: 18px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 24px;
  letter-spacing: 1px;
  /* position: relative;
  top: 5px; */
  margin-left: 8px;
  white-space: nowrap;
}
/* 双行显示时的样式 */
.flexBox2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexBox2 .coursetheme-title{
  font-size: 18px;
  line-height: 24px;
}

/* 响应式 */
@media (min-width: 1024px) and (max-width: 1366px){
  .coursetheme-title{
    font-size: 17px;
  }
  
  /* 双行显示 */
  .flexBox2 .coursetheme-title{
    font-size: 14px;
    line-height: 20px;
  }
  .coursetheme-title2{
   font-size: 14px;
   line-height: 20px;
  }
}

@media (min-width: 550px) and (max-width: 650px){
  .logo-header .logo img.coursethemelogo{
    max-height: 40.5px!important;
  }

  .coursetheme-title{
    font-size: 20px;
  }


  /* 双行显示 */
  .flexBox2 .coursetheme-title{
   font-size: 17px;
   line-height: 19px;
 }
 .coursetheme-title2{
   font-size: 17px;
   line-height: 19px;
 }
}


@media (min-width: 450px) and (max-width: 550px){

  .logo-header .logo img.coursethemelogo{
    max-height: 33.36px!important;
  }

  .coursetheme-title{
    font-size: 15.8px;
  }

   /* 双行显示 */
   .flexBox2 .coursetheme-title{
    font-size: 14px;
    line-height: 16px;
  }
  .coursetheme-title2{
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 450px){

  .logo-header .logo img.coursethemelogo{
    max-height: 25.58px!important;
  }

  .coursetheme-title{
    font-size: 13px;
  }

   /* 双行显示 */
   .flexBox2 .coursetheme-title{
    font-size: 12px;
    line-height: 13px;
  }
  .coursetheme-title2{
    font-size: 12px;
    line-height: 13px;
  }
}

/* 移动按钮修改 */
.operate-box input[name="move"] {
  height: 28px;
  background-color: rgba(2,86,32,1);
  color: #fff;
}
.operate-box input[name="move"]:hover {
  background-color: #77ae29!important;
}

.operate-box input[name="deleteselected"]{
  background-color: rgba(194,58,51,1)!important;
  box-sizing: content-box;
}

/* .operate-box input[name="deleteselected"]:hover {
  background-color: rgba(194,58,51,1)!important;
} */